#for CD deploy to render.com
services:
  - type: web
    name: laravel-app
    env: docker
    dockerfilePath: docker/Dockerfile
    plan: starter
    startCommand: |
      php artisan migrate --force
      php artisan serve --host=0.0.0.0 --port=80
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_KEY
        generateValue: true
      - key: APP_DEBUG
        value: false
      - key: DB_CONNECTION
        value: mysql
      - key: DB_HOST
        value: your-db-host.render.com
      - key: DB_PORT
        value: 3306
      - key: DB_DATABASE
        value: your_database   # value is set in render dashboard and  will take precedence(to be more important )
      - key: DB_USERNAME
        value: your_username
      - key: DB_PASSWORD
        value: your_password
      - key: CACHE_DRIVER
        value: file
      - key: SESSION_DRIVER
        value: file
      - key: QUEUE_CONNECTION
        value: sync
